{
  "openapi": "3.0.0",
  "info": {
    "description": "IBISWorld API Specification",
    "title": "IBISWorld Report API",
    "version": "3.0"
  },
  "servers": [
    {
      "description": "Production data",
      "url": "https://api.ibisworld.com"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": ""
    },
    {
      "name": "Industry v3.0",
      "description": "Version 3.0"
    },
    {
      "name": "Risk v3.0",
      "description": "Version 3.0"
    },
    {
      "name": "Risk v3.01",
      "description": "Version 3.01"
    },
    {
      "name": "BED v3.0",
      "description": "Version 3.0"
    },
    {
      "name": "BED v3.01",
      "description": "Version 3.01"
    },
  ],
  "paths": {
    "/authentication/token": {
      "post": {
        "summary": "Returns OAuth bearer token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "ClientId": "XXXXX",
                "Username": "XXXXXXXX",
                "Password": "********"
              },
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authentication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/bed/v3/fullreport": {
      "post": {
        "summary": "Returns all sections of a single Business Environment Profile report",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSectionsBED"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/sections": {
      "post": {
        "summary": "Returns one or more sections of a single Business Environment Profile report",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English",
                "ReportSections": [
                  "Title"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/SectionsRequestBED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sections"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/reportlist": {
      "post": {
        "summary": "Returns a list of available BED reports",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/updatedreports": {
      "post": {
        "summary": "Returns a list of available BED reports",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English",
                "StartDate": "2024-04-16",
                "EndDate": "2024-05-16"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdatedReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/publicationdate": {
      "post": {
        "summary": "Returns report publication date",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDate"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/currentperformanceanalysis": {
      "post": {
        "summary": "Returns current performance analysis",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentPerformanceAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/dataseries": {
      "post": {
        "summary": "Returns sensitivity data series",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensitivityDataSeries"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/definition": {
      "post": {
        "summary": "Returns definition analysis",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Definition"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/industriesaffected": {
      "post": {
        "summary": "Returns array of industries affected by sensitivity",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustriesAffected"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/outlookanalysis": {
      "post": {
        "summary": "Returns outlook analysis",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutlookAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/reportyear": {
      "post": {
        "summary": "Returns report year",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": true,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Year"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3/title": {
      "post": {
        "summary": "Returns report title",
        "tags": [
          "BED v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Title"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/fullreport": {
      "post": {
        "summary": "Returns all sections of a single Business Environment Profile report",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSectionsBED_V3_01"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/sections": {
      "post": {
        "summary": "Returns one or more sections of a single Business Environment Profile report",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          },
          {
            "name": "ReportSections",
            "in": "query",
            "required": true,
            "description": "Report sections",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English",
                "ReportSections": [
                  "Title"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/SectionsRequestBED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sections"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/reportlist": {
      "post": {
        "summary": "Returns a list of available BED reports",
        "parameters": [
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/updatedreports": {
      "post": {
        "summary": "Returns a list of available BED reports",
        "parameters": [

          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "required": true,
            "description": "Earliest update date",
            "schema": {
              "type": "string",
              "example": "2024-04-16"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "required": true,
            "description": "Latest update date",
            "schema": {
              "type": "string",
              "example": "2024-05-16"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English",
                "StartDate": "2024-04-16",
                "EndDate": "2024-05-16"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdatedReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/publicationdate": {
      "post": {
        "summary": "Returns report publication date",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDate"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/currentperformanceanalysis": {
      "post": {
        "summary": "Returns current performance analysis",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentPerformanceAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/dataseries": {
      "post": {
        "summary": "Returns sensitivity data series",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedDataSeries_V3_01"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/definition": {
      "post": {
        "summary": "Returns definition analysis",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Definition"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/industriesaffected": {
      "post": {
        "summary": "Returns array of industries affected by sensitivity",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustriesAffected"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/outlookanalysis": {
      "post": {
        "summary": "Returns outlook analysis",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutlookAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/reportyear": {
      "post": {
        "summary": "Returns report year",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": true,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportYear"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/bed/v3.01/title": {
      "post": {
        "summary": "Returns report title",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "required": true,
            "description": "IBISWorld occupation report code",
            "schema": {
              "type": "string",
              "example": "F314"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "required": true,
            "description": "Country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "Language",
            "in": "query",
            "required": false,
            "description": "Report language",
            "schema": {
              "type": "string",
              "default": "English"
            }
          }
        ],
        "tags": [
          "BED v3.01"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "F314",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Title"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/fullreport": {
      "post": {
        "summary": "Returns all sections of a single Risk report",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSectionsRisk"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/sections": {
      "post": {
        "summary": "Returns one or more sections of a single Risk report",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English",
                "ReportSections": [
                  "Title"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/SectionsRequestRisk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sections"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/reportlist": {
      "post": {
        "summary": "Returns a list of available risk reports",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English",
                "ReportCollection": "COR"
              },
              "schema": {
                "$ref": "#/components/schemas/IndustryReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/updatedreports": {
      "post": {
        "summary": "Returns a list of available risk reports",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Language": "English",
                "ReportCollection": "COR",
                "StartDate": "2024-04-16",
                "EndDate": "2024-05-16"
              },
              "schema": {
                "$ref": "#/components/schemas/IndustryUpdatedReportListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/assistance": {
      "post": {
        "summary": "Returns assistance level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistance"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/barrierstoentry": {
      "post": {
        "summary": "Returns barriers to entry level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarriersToEntry"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/competition": {
      "post": {
        "summary": "Returns competition level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Competition"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/definition": {
      "post": {
        "summary": "Returns definition analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Definition"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/ews": {
      "post": {
        "summary": "Returns Risk EWS data",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English",
                "ReportSections": [
                  "Title"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/SectionsRequestRisk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EWS"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/exports": {
      "post": {
        "summary": "Returns exports level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exports"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/growthriskanalysis": {
      "post": {
        "summary": "Returns growth risk analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskAnalysisGrowth"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/growthriskcomponentdata": {
      "post": {
        "summary": "Returns growth risk score components",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreComponentsGrowth"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/growthriskoverviewanalysis": {
      "post": {
        "summary": "Returns growth risk overview analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskOverviewAnalysisGrowth"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/growthriskscore": {
      "post": {
        "summary": "Returns growth risk score components",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreComponentsGrowth"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/imports": {
      "post": {
        "summary": "Returns imports level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Imports"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/lifecycle": {
      "post": {
        "summary": "Returns life cycle level, trend and array of analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifeCycle"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/mainactivities": {
      "post": {
        "summary": "Returns array of industry main activities",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activities"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/overallriskscore": {
      "post": {
        "summary": "Returns overall risk score components",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreComponentsOverall"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/riskscores": {
      "post": {
        "summary": "Returns array of risk score components",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreComponents"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/scorecontextanalysis": {
      "post": {
        "summary": "Returns risk score context analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreContextAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/scoredata": {
      "post": {
        "summary": "Returns array of historical risk score data points",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreDataPoints"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/scoretrendanalysis": {
      "post": {
        "summary": "Returns risk score trend analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreTrendAnalysis"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/sensitivities": {
      "post": {
        "summary": "Returns array of risk sensitivities",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskSensitivities"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/sensitivityriskcomponentdata": {
      "post": {
        "summary": "Returns sensitivitry risk score components",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreComponentsSensitivity"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/sensitivityriskoverviewanalysis": {
      "post": {
        "summary": "Returns sensitivity risk overview analysis",
        "tags": [
          "Risk v3.0"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "Country": "US",
                "Code": "11111",
                "Language": "English"
              },
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskOverviewAnalysisSensitivity"
                }
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          }
        },
        "security": [
          {
            "http-bearer": []
          }
        ]
      }
    },
    "/risk/v3/sensitivityriskscore": {
      "post": {
        "summary": "Returns sensitivity risk score components",
        "tags": [
[...]
